In [1]:
library(tidyverse)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

In [2]:
events_df <- read.csv('..\\..\\Data\\retailrocket\\events.csv')

In [4]:
events_df$timestamp %>% head(10)

 [1] 1.433221e+12 1.433224e+12 1.433222e+12 1.433222e+12 1.433221e+12
 [6] 1.433224e+12 1.433222e+12 1.433223e+12 1.433221e+12 1.433221e+12

In [5]:
as.POSIXct(strptime('1433221332117', "%a %b %d %H:%M:%S %z %Y"))

[1] NA

In [25]:
difftime(as.POSIXct(1433221332117, origin="1970-01-01"),as.POSIXct(1433224214164, origin="1970-01-01"),units='mins')

Time difference of -48034.12 mins

In [26]:
time_diff = function(date_1,date_2,units){
    return(difftime(as.POSIXct(date_1, origin="1970-01-01"),as.POSIXct(date_2, origin="1970-01-01"),units=units) %>% as.numeric )
}

In [28]:
events_df %>% head(20)

   timestamp    visitorid event     itemid transactionid
1  1.433221e+12  257597   view      355908 NA
2  1.433224e+12  992329   view      248676 NA
3  1.433222e+12  111016   view      318965 NA
4  1.433222e+12  483717   view      253185 NA
5  1.433221e+12  951259   view      367447 NA
6  1.433224e+12  972639   view       22556 NA
7  1.433222e+12  810725   view      443030 NA
8  1.433223e+12  794181   view      439202 NA
9  1.433221e+12  824915   view      428805 NA
10 1.433221e+12  339335   view       82389 NA
11 1.433222e+12  176446   view       10572 NA
12 1.433222e+12  929206   view      410676 NA
13 1.433224e+12   15795   view       44872 NA
14 1.433224e+12  598426   view      156489 NA
15 1.433224e+12  223343   view      402625 NA
16 1.433223e+12   57036   view      334662 NA
17 1.433223e+12 1377281   view      251467 NA
18 1.433223e+12  287857   addtocart   5206 NA
19 1.433224e+12 1370216   view      176721 NA
20 1.433221e+12  158090   addtocart  10572 NA

In [36]:
events_df %>% group_by(itemid,visitorid) %>%
    summarise(vol1 = n()) %>%
    group_by(itemid) %>%
    summarise(vol = n() ) %>%
    arrange(vol %>% desc)

       itemid vol
1      187946 2912
2        5411 2079
3      370653 1577
4      461686 1393
5      219512 1370
6       96924 1359
7      298009 1342
8      335975 1154
9      384302 1154
10     151444 1103
11     441668 1080
12     309778 1055
13     234255  988
14     257040  986
15     434782  938
16     142466  936
17     111530  926
18     112782  887
19     320130  886
20     102306  858
21     354233  852
22      91755  851
23     190000  848
24       7943  846
25      65273  784
26      37029  776
27     161623  762
28     133814  760
29     133907  738
30      84160  735
...    ...    ...
235032 466733 1
235033 466737 1
235034 466738 1
235035 466742 1
235036 466755 1
235037 466762 1
235038 466769 1
235039 466774 1
235040 466775 1
235041 466777 1
235042 466778 1
235043 466780 1
235044 466781 1
235045 466783 1
235046 466784 1
235047 466785 1
235048 466787 1
235049 466801 1
235050 466802 1
235051 466807 1
235052 466815 1
235053 466817 1
235054 466820 1
235055 466823 1
235056 466828 1
235057 466837 1
235058 466838 1
235059 466845 1
235060 466848 1
235061 466863 1

In [81]:
events_df %>%
    group_by(visitorid) %>%
    summarise(vol = n()) %>%
arrange(vol %>% desc)

        visitorid vol
1       1150086   7757
2        530559   4328
3        152963   3024
4        895999   2474
5        163561   2410
6        371606   2345
7        286616   2252
8        684514   2246
9        892013   2024
10       861299   1991
11       836635   1934
12        76757   1883
13       638482   1829
14      1297062   1822
15       316850   1752
16       247235   1698
17      1161163   1663
18       994820   1661
19        79627   1623
20       518659   1614
21       138131   1611
22       350566   1524
23        85734   1461
24       645525   1411
25       765630   1277
26       757355   1251
27       310759   1177
28       229157   1070
29       737053   1055
30       890980   1017
...     ...       ...
1407551 1407546   1
1407552 1407547   1
1407553 1407548   1
1407554 1407549   1
1407555 1407550   1
1407556 1407551   1
1407557 1407552   1
1407558 1407553   1
1407559 1407554   1
1407560 1407555   1
1407561 1407556   1
1407562 1407557   1
1407563 1407558   1
1407564 1407559   1
1407565 1407561   1
1407566 1407562   1
1407567 1407563   1
1407568 1407564   1
1407569 1407565   1
1407570 1407566   1
1407571 1407568   1
1407572 1407569   1
1407573 1407570   1
1407574 1407571   1
1407575 1407574   1
1407576 1407575   1
1407577 1407576   1
1407578 1407577   1
1407579 1407578   1
1407580 1407579   1

In [83]:
events_df %>% filter(visitorid == 890980, itemid == 98491)

  timestamp    visitorid event       itemid transactionid
1 1.437070e+12 890980    view        98491     NA
2 1.437068e+12 890980    addtocart   98491     NA
3 1.437069e+12 890980    addtocart   98491     NA
4 1.437070e+12 890980    transaction 98491   3586
5 1.437069e+12 890980    addtocart   98491     NA
6 1.437070e+12 890980    addtocart   98491     NA
7 1.437069e+12 890980    transaction 98491   4547
8 1.437069e+12 890980    transaction 98491  14069
9 1.437069e+12 890980    addtocart   98491     NA

In [56]:
events_df %>% filter(visitorid == 755375, itemid == 187946)

  timestamp    visitorid event     itemid transactionid
1 1.435691e+12 755375    addtocart 187946 NA

In [37]:
events_df %>% select(event) %>% unique

    event
1   view
18  addtocart
131 transaction

In [ ]:
events_df %>% #filter(visitorid == 890980) %>% 
    mutate(view_time = ifelse(event == 'view',timestamp,NA),
           addcart_time = ifelse(event == 'addtocart',timestamp,NA),
           transactiontime = ifelse(event == 'transaction',timestamp,NA)) %>%
 group_by(visitorid, itemid) %>%
     summarise(
         min_view = min(view_time, na.rm = T),
         min_addcart = min(addcart_time, na.rm = T),
         min_transaction = min(transactiontime, na.rm = T)
     ) %>% 
mutate( time_to_addcart = time_diff(min_view,min_addcart,'mins')) %>%
 head(60)