In [23]:
import numpy as np
import pandas as pd

In [12]:
from PIL import Image, ImageFilter, ImageEnhance

In [7]:
import pytesseract

In [8]:
pytesseract.pytesseract.tesseract_cmd = 'C:/Program Files (x86)/Tesseract-OCR/tesseract'

In [15]:
im = Image.open("remind-app.jpg") # the second one

In [39]:
print(pytesseract.image_to_string(Image.open('sample_text.jpg'), config='letters'))

sqmpb wxf klere

123456

xzw2

kleuo world

In [13]:
im = im.filter(ImageFilter.MedianFilter())
enhancer = ImageEnhance.Contrast(im)
im = enhancer.enhance(2)
im = im.convert('1')
im.save('temp2.jpg')
text = pytesseract.image_to_string(Image.open('temp2.jpg'))
print(text)

CLASSES I OWN

0 Italian Practice

Arts and Crafts



Geometry
CLASSES Iâ€˜VE JOINEO
0 Rocket Science

Â® Statistics

% Pickup Basketball

In [14]:
text

'CLASSES I OWN\n\n0 Italian Practice\n\nArts and Crafts\n\n \n\nGeometry\nCLASSES Iâ€˜VE JOINEO\n0 Rocket Science\n\nÂ® Statistics\n\n% Pickup Basketball'

# see https://github.com/tesseract-ocr/tesseract/wiki/Command-Line-Usage for more details

# to get coords - use command line interface and read tsv file

In [20]:
from subprocess import call

In [22]:
call('"C:/Program Files (x86)/Tesseract-OCR/tesseract.exe" remindapp.jpg remindapp_eng tsv')

0

In [25]:
text_data = pd.read_csv('remindapp_eng.tsv', delimiter='\\t')

C:\Users\Stoja\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [32]:
text_data['text'] = text_data['text'].apply(lambda x: str(x))

In [33]:
text_data[text_data['text'] != 'None']

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
4,5,1,1,1,1,1,115,94,500,95,61,Oremmd
8,5,1,2,1,1,1,216,225,78,28,87,Safe.
9,5,1,2,1,1,2,307,225,116,34,82,Simple.
10,5,1,2,1,1,3,438,226,78,27,87,Free.
22,5,1,5,1,1,1,194,724,70,20,88,Italian
23,5,1,5,1,1,2,274,724,97,20,85,Practice
25,5,1,5,1,2,1,193,757,88,15,80,@italian101
29,5,1,6,1,1,1,192,821,49,20,89,Arts
30,5,1,6,1,1,2,249,821,45,20,90,and
31,5,1,6,1,1,3,304,821,71,20,78,Crafts
35,5,1,7,1,1,1,193,854,23,15,82,@a
36,5,1,7,1,1,2,219,854,105,13,77,nisawesome
40,5,1,8,1,1,1,193,918,122,25,84,Geometry
42,5,1,8,1,2,1,193,951,109,17,80,@pythagoras
46,5,1,9,1,1,1,113,1031,82,15,71,CLASSES
47,5,1,9,1,1,2,201,1031,34,14,80,I'VE
48,5,1,9,1,1,3,240,1031,69,15,87,JOINED
52,5,1,10,1,1,1,193,1108,88,21,86,Rocket
53,5,1,10,1,1,2,288,1108,100,21,84,Science
55,5,1,10,1,2,1,193,1141,27,14,90,Ms.
56,5,1,10,1,2,2,227,1141,56,14,82,Collins
60,5,1,11,1,1,1,193,1205,107,21,88,Statistics
62,5,1,11,1,2,1,193,1238,27,14,87,Ms.
63,5,1,11,1,2,2,228,1238,62,14,82,Mindier
71,5,1,13,1,1,1,194,1302,80,25,90,Pickup
72,5,1,13,1,1,2,284,1302,126,21,88,Basketball
76,5,1,14,1,1,1,193,1335,21,9,78,Mr
77,5,1,14,1,1,2,223,1335,66,9,46,munch

# Trying another file using additional commands

In [66]:
call('"C:/Program Files (x86)/Tesseract-OCR/tesseract.exe" sample_text.jpg sample_text_eng --oem 2 eng tsv')

0

In [67]:
sample_text = pd.read_csv('sample_text_eng.tsv', delimiter='\\t')

C:\Users\Stoja\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [68]:
sample_text

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,392,524,-1,None
1,2,1,1,0,0,0,23,28,199,22,-1,None
2,3,1,1,1,0,0,23,28,199,22,-1,None
3,4,1,1,1,1,0,23,28,199,22,-1,None
4,5,1,1,1,1,1,23,28,85,22,55,Sample
5,5,1,1,1,1,2,117,28,44,17,70,Text
6,5,1,1,1,1,3,171,28,51,17,91,Here
7,2,1,2,0,0,0,124,196,75,17,-1,None
8,3,1,2,1,0,0,124,196,75,17,-1,None
9,4,1,2,1,1,0,124,196,75,17,-1,None
10,5,1,2,1,1,1,124,196,75,17,89,123456
11,2,1,3,0,0,0,22,350,81,22,-1,None
12,3,1,3,1,0,0,22,350,81,22,-1,None
13,4,1,3,1,1,0,22,350,81,22,-1,None
14,5,1,3,1,1,1,22,350,81,22,84,x=yA2
15,2,1,4,0,0,0,260,314,18,127,-1,None
16,3,1,4,1,0,0,260,314,18,127,-1,None
17,4,1,4,1,1,0,260,314,18,127,-1,None
18,5,1,4,1,1,1,260,387,18,54,77,HeHo
19,5,1,4,1,1,2,260,314,18,64,50,World