In [29]:
import requests
import numpy as np
import pandas as pd
import json
from datetime import date, timedelta as td
from tqdm import tqdm

In [2]:
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36'}

In [5]:
date = "2016-12-12"

In [6]:
url =  'http://www.apilayer.net/api/live?access_key=6dd1dfe474f5414d7b63a7f495f2adca&date='+date+'&currencies=AUD'

In [8]:
r = requests.get(url, headers=headers)

In [12]:
print r.text

{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timestamp":1483948269,"source":"USD","quotes":{"USDAUD":1.367803}}

In [15]:
result = json.loads(r.text)

In [18]:
np.float(result["quotes"]["USDAUD"])

1.367803

In [ ]:
d1 = date(2008, 8, 15)
d2 = date(2008, 9, 15)

delta = d2 - d1

for i in range(delta.days + 1):
    print d1 + td(days=i)

# real code starts here

In [26]:
datelist = []

d1 = date(2016, 1, 1)
d2 = date(2017, 1, 9)

delta = d2 - d1

for i in range(delta.days + 1):
    datelist.append(str(d1 + td(days=i)))

In [34]:
quotes = []

for date_item in tqdm(datelist):
    url =  'http://www.apilayer.net/api/historical?access_key=6dd1dfe474f5414d7b63a7f495f2adca&date='+date_item+'&currencies=AUD'
    r = requests.get(url, headers=headers)
    result = json.loads(r.text)
    
    quotes.append([date_item,np.float(result["quotes"]["USDAUD"])])

100%|████████████████████████████████████████████████████████████████████████████████| 375/375 [02:56<00:00,  2.11it/s]

In [35]:
df = pd.DataFrame(quotes)

In [40]:
df.head(10)

         Date    USDAUD
0  2016-01-01  1.373930
1  2016-01-02  1.370545
2  2016-01-03  1.372064
3  2016-01-04  1.392154
4  2016-01-05  1.396150
5  2016-01-06  1.414602
6  2016-01-07  1.425307
7  2016-01-08  1.438306
8  2016-01-09  1.438306
9  2016-01-10  1.440165

In [39]:
df.columns = ['Date','USDAUD']

In [41]:
df.to_csv('usdaud_data.csv')